body {
  margin: 0;
  font-family: Roboto, Verdana, arial, 微軟正黑體, "Microsoft JhengHei", 新細明體, "Heiti TC", 黑體-繁, PMingLiU, sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  margin: auto;
  background-color: #214099;
}

.navbar .content {
  max-width: 80rem;
  margin: auto;
}

.menu-btn {
  float: left;
  margin: 1.375rem 0 1.375rem 0;
  padding-left: 1.5rem;
}

.menu-btn img {
  height: 1.25rem;
  /* fill: #ffffff; */
  filter: invert(100%) sepia(3%) saturate(11%) hue-rotate(348deg) brightness(102%) contrast(105%);
}

.logo {
  float: left;
  margin: 0.75rem 0 0.75rem 0;
  padding-left: 1.5rem;
  padding-right: 6.25rem;
}

.logo img {
  height: 2.5rem;
}

.cart-btn {
  float: right;
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
}

.cart-btn .border {
  width: 1.75rem;
  height: 1.75rem;
  background-color: #e3f2fc;
  border-radius: 50%;
  align-items: center;
  padding: 0.625rem;
}

.cart-btn .border::after {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ffc400;
  position: relative;
  top: calc(-2rem - 0.625rem);
  left: calc(2rem - 0.625rem);
  content: attr(quantity);
  text-align: center;
  font-size: smaller;
}

.cart-btn .icon {
  width: 1.75rem;
}

.cart-btn .icon img {
  /* fill: #3fa7f3; */
  filter: invert(57%) sepia(15%) saturate(2279%) hue-rotate(168deg) brightness(103%) contrast(91%);
}

.cart-btn .icon img:hover {
  /* fill: #0e8ce4; */
  filter: invert(55%) sepia(53%) saturate(7329%) hue-rotate(184deg) brightness(99%) contrast(89%);
}

.menu {
  position: absolute;
  top: 2rem;
  border-top: 2rem solid rgba(0, 0, 0, 0);
  display: none;
}

.menu>.list {
  list-style-type: none;
  width: 17.5rem;
  border-radius: 1rem;
  background-color: #f1f1f1;
  padding: 0.5rem 0 0.5rem 0;
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.25);
}

.menu>.list .item {
  margin: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  align-items: center;
}

.menu>.list .icon {
  width: 2rem;
  list-style-type: none;
  text-align: center;
  margin-right: 0.25rem;
}

.menu>.list .icon img {
  height: 1.5rem;
  /* fill: #4a4a4a; */
  filter: invert(23%) sepia(37%) saturate(0%) hue-rotate(183deg) brightness(99%) contrast(84%);
}

.menu>.list .name {
  color: #4a4a4a;
  width: 15rem;
}

.menu>.list .arrow img {
  height: 1rem;
  opacity: 0;
  /* fill: #3fa7f3; */
  filter: invert(57%) sepia(15%) saturate(2279%) hue-rotate(168deg) brightness(103%) contrast(91%);
}

.sub-menu {
  position: absolute;
  top: 0;
  left: 16.5rem;
  z-index: -1;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  display: none;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.sub-menu>.list {
  list-style-type: none;
  width: 17.5rem;
  border-radius: 0 2rem 2rem 0;
  background-color: #ffffff;
  padding: 0.5rem 0 0.5rem 0;
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.25);
}

.sub-menu>.list .item {
  margin: 0.5rem 1rem 0.5rem 2rem;
  display: flex;
  align-items: center;
}

.sub-menu>.list .icon {
  width: 2rem;
  list-style-type: none;
  text-align: center;
  margin-right: 0.25rem;
}

.sub-menu>.list .icon img {
  height: 1.5rem;
}

.sub-menu>.list .name {
  color: #4a4a4a;
  width: 15rem;
}

.page {
  width: 100vw;
  margin: auto;
}

.page .content {
  max-width: 80rem;
  margin: auto;
}