.desc {
  width: 100%;
}

.desc p {
  text-align: center;
  font-size: 4rem;
  font-weight: bolder;
  margin: 2rem 0 2rem 0;
}

.back {
  background-color: #292d84;
  color: #ffffff;
  width: 50%;
  border-radius: 1rem;
  font-size: 2rem;
  margin: auto;
  padding: 1rem 0 1rem 0;
  cursor: pointer;
}

.back p {
  width: 100%;
  margin: 1rem 0 1rem 0;
  text-align: center;
}